.navbar {
  background: #34495e;
}

.navbar span {
  color: #fff;
  margin-right: 10px;
}

.main {
  background: #2B9684;
  text-align: center;
  padding: 10px 0 10px 0;
}

.avatar {
  margin: 0 5px 0 0;
}

.table-container {
  padding: 10px 10px 10px 10px;
}

.title {
  color: #34495E;
}

.navbar .btn-link:hover, .navbar-brand:hover {
  color: #fff;
}

.btn-link:hover {
  color: #fff;
}

.modal-header {
  background: #2B9684;
  color: #fff;
}

.modal-header .btn {
  color: #fff;
}

.toast-message {
  background: #E85600;
  padding: 10px 15px 10px 15px;
  color: #fff;
}

.toast-message .btn {
  color: #fff;
}

.footer a {
  text-decoration: none;
  background: #34495E;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  font-weight: bold;
}

.container a:hover {
  color: #fff;
}

.big .fa-users {
  color: #FBC02D;
}

.big .fa-code-fork {
  color: #795548;
}

.big .fa-heart {
  color: #F44336;
}
