<div class="columns">
  <div class="column">
    <div class="empty big">
      <i class="fa fa-users fa-5x"></i>
      <p class="empty-title">Very Social</p>
      <p class="empy-meta">Sign Up an account and know other users</p>
    </div>
  </div>
  <div class="column">
    <div class="empty big">
      <i class="fa fa-code-fork fa-5x"></i>
      <p class="empty-title">Graphs</p>
      <p class="empy-meta">You can see the friends of your friends easily</p>
    </div>
  </div>
  <div class="column">
    <div class="empty big">
      <i class="fa fa-heart fa-5x"></i>
      <p class="empty-title">Follow your friends</p>
      <p class="empy-meta">With one click, your favorite people is there!</p>
    </div>
  </div>
</div>
